# Dependencies
**/node_modules

# Git files
**/.git
**/.github

# Docker
**/Dockerfile*
**/compose*.yaml

# Jenkinsfile
**/Jenkinsfile*

# ignore files
**/.gitignore
**/.dockerignore

# Configuration files
**/.env*

# Database files
**/*.db
**/*.db-journal

# Testing
**/coverage

# Turbo
**/.turbo

# Build Outputs
**/out/
**/build
**/dist
**/dist-ssr

# Logs
**/logs
**/*.log

# Debug
**/npm-debug.log

# Editor directories and files
**/.vscode/*
**/!.vscode/extensions.json
**/.idea
**/.DS_Store
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?

# Misc
**/README.md
