# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js
.pnpm-store

# local env files
.env
.env.production
.env*.local

# app data
**/backend/data
**/cirrodrive-app-data
**/cirrodrive-database-data

# prisma
!**/prisma/.env
**/prisma/client

# testing
coverage

# turbo
.turbo

# docker
.docker

# build Outputs
out/
build
dist
dist-ssr

# typescript
.cache

# logs
logs
*.log

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# misc
.DS_Store
*.pem
.stfolder*
.stignore

certbot
