# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!**/prisma/.env

# Local files
*.local

# Database files
*.db
*.db-journal

# Testing
coverage

# Turbo
.turbo

# Docker
.docker

# Vercel
.vercel

# Build Outputs
out/
build
dist
dist-ssr

# Logs
logs
*.log

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
.DS_Store
*.pem
.stfolder
.stignore
**/backend/data
